[Unit]
Description="ovs workers"
Requires=ovs-watcher-framework.service
After=ovs-watcher-framework.service

[Service]
Group=ovs
User=ovs
WorkingDirectory=/opt/OpenvStorage
ExecStart=/usr/bin/celery worker -A ovs.celery_run -l info -Q ovs_generic,ovs_<WORKER_QUEUE>
Type=simple
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
